.cards-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px 50px 0px 60px;
}

/*=====Card+Content=====*/
.card {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  border: none !important;
}

.card:hover {
  color: #EB5757;
}

/*=====IMG Cards=====*/
.imgs-box {
  width: 395px;
  height: 269px;
  border-radius: 24px;
  box-shadow: 2px 2px 5px #828282;
}

/*=====Contents=====*/
.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.inf1, .inf2 {
  display: flex;
  align-items: center;
}

.inf3 {
  font-weight: bold;
}

p {
  padding: 0;
  margin: 5px;
}

.superHost {
  border: 1px solid #4F4F4F;
  border-radius: 12px;
  font-weight: bold;
  font-size: 12px;
  color: #4F4F4F;
  padding: 5px;
  box-shadow: 1px 1px 3px #828282;
}

.tb {
  color: #828282;
}

.star {
  color: #EB5757;
  text-shadow: 1px 1px 1px #828282;
}

/*=====Media=====*/
@media only screen and (max-width: 600px) {
  .stay {
    margin-bottom: 30px;
    width: 350px;

  }

  img {
    width: 350px;
    height: 238.35px;
  }
}