
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 40px 80px;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.menu {
    display: flex;
    cursor: pointer;
}

.menu div {
    margin-left: 10px;
}

.guest {
    color: #BDBDBD;
}

.search1 {
    color: #EB5757
}